<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index/style.css">

    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Navbar Discord</title>
</head>
<body>
<section>


    <div class="container " style="padding-left: 60px; padding-right: 60px;">
        <div class="navbar-content">
            <div class="navbar">
                <div class="logo">
                    <img src="../assets/img/logo2.png" width="120" alt="">
                </div>
                <div class="right">
                    <ul class="navbar-ul ">
                        <li class="navbar-li">Accueil</li>
                        <li class="navbar-dropdown title navbar-li">
                            Modules
                            <i class='bx bx-chevron-down'></i>
                        </li>
                    </ul>
                    <ul class="navbar-ul ">
                        <li><a href=""><button class="btn btn-premium"><i class='bx bxs-party icon-premium'></i>Premium</button></a></li>
                        <li><a href=""><button class="btn btn-login">Se connecter via Discord</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="px-10 mx-auto max-w-[1240px] grid grid-cols-3">

            <div class="w-full h-full col-span-5 pt-8 pb-9 pr-8 grid grid-cols-2 gap-8">

                <div>

                    <p class="text-dark-300">Support</p>
                    <ul class="grid grid-cols-1 gap-6 mt-5 pl-2">
                        <a href="/fr/tutorials" class="flex items-start justify-start gap-3 cursor-pointer group transition-all duration-200">
                            <div>
                                <div class="text-dark-200 text-base font-semibold group-hover:text-dark-100 transition-all duration-200"><span class='bx bxl-discord-alt nav-icon'></span>Tutoriels</div>
                                <p class="text-sm font-medium text-dark-400 mt-1 group-hover:text-dark-300 transition-all duration-200">Consulte notre documentation pour obtenir plus de détails sur l'utilisation de zPoq sur Discord</p>
                            </div>
                        </a>
                        <a to="/frhttps://help.zPoq.xyz/" href="https://help.zPoq.xyz/" target="_blank" class="flex items-start justify-start gap-3 cursor-pointer group transition-all duration-200">
                            <div>
                                <div class="text-dark-200 text-base font-semibold group-hover:text-dark-100 transition-all duration-200"><span class='bx bxl-discord-alt nav-icon'></span>Portail d'assistance</div>
                                <p class="text-sm font-medium text-dark-400 mt-1 group-hover:text-dark-300 transition-all duration-200">Base de connaissances et documents utiles dans le creux de ta main</p>
                            </div>
                        </a>
                        <a to="/frhttps://discord.gg/zPoq" href="https://discord.gg/zPoq" target="_blank" class="flex items-start justify-start gap-3 cursor-pointer group transition-all duration-200">
                            <div>
                                <div class="text-dark-200 text-base font-semibold group-hover:text-dark-100 transition-all duration-200"><span class='bx bxl-discord-alt nav-icon'></span>Serveur Discord</div>
                                <p class="text-sm font-medium text-dark-400 mt-1 group-hover:text-dark-300 transition-all duration-200">Rejoint notre serveur Discord pour obtenir toute l'aide dont tu as besoin</p>
                            </div>
                        </a>
                    </ul>
                </div>
                <div>
                    <p class="text-dark-300">Entreprise</p>
                    <ul class="grid grid-cols-1 gap-6 mt-5 pl-2">
                        <a href="/fr/careers" class="flex items-start justify-start gap-3 cursor-pointer group transition-all duration-200">
                            <div>
                                <div class="text-dark-200 text-base font-semibold group-hover:text-dark-100 transition-all duration-200">
                                    <div class="inline-block relative rounded-full transition-all duration-200 bg-brand-default bg-opacity-20 text-brand-default ltr:ml-2 rtl:mr-2 text-xs px-2 py-0.5 font-medium">
                                        <div class="max-w-max flex items-center justify-start"><span class='bx bxl-discord-alt nav-icon'></span>Nous recrutons !</div>
                                    </div>
                                </div>
                                <p class="text-sm font-medium text-dark-400 mt-1 group-hover:text-dark-300 transition-all duration-200">Rejoint zPoq et créé des outils pour gérer des communautés extraordinaires dans le monde entier</p>
                            </div>
                        </a>
                        <a to="/frhttps://zPoq.notion.site/Bug-bounty-program-47c17360a9ce498d8caf37035004cf80" href="https://zPoq.notion.site/Bug-bounty-program-47c17360a9ce498d8caf37035004cf80" target="_blank" class="flex items-start justify-start gap-3 cursor-pointer group transition-all duration-200">
                            <div>
                                <div class="text-dark-200 text-base font-semibold group-hover:text-dark-100 transition-all duration-200"><span class='bx bxl-discord-alt nav-icon'></span>Programme de récompenses pour les bugs</div>
                                <p class="text-sm font-medium text-dark-400 mt-1 group-hover:text-dark-300 transition-all duration-200">Hacke pour obtenir de belles récompenses</p>
                            </div>
                        </a>
                        <a to="/frmailto:hi@zPoqbot.com" href="mailto:hi@zPoqbot.com" class="flex items-start justify-start gap-3 cursor-pointer group transition-all duration-200">
                            <div>
                                <div class="text-dark-200 text-base font-semibold group-hover:text-dark-100 transition-all duration-200">

                                    <span class='bx bxl-discord-alt nav-icon'></span> Contacte-nous
                                </div>
                                <p class="text-sm font-medium text-dark-400 mt-1 group-hover:text-dark-300 transition-all duration-200">Nous sommes sympathiques et amicaux !</p>
                            </div>
                        </a>

                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="content-page" >
        <section class="main">
            <div class="row text-center" style="position: relative;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <h1 class="ml10">
                <span class="text-wrapper">
                    <div class="typing-effect">
                        <div class="text">
                            <span style="cursor: pointer;" id="text" class="letter"></span>
                            <div class="cursor"></div>
                        </div>
                    </div>
                </span>
                    </h1>
                    <div class="text-center mt-3">
                       <a href="https://discord.com/api/oauth2/authorize?client_id=1108672173045989426&permissions=8&scope=bot%20applications.commands"> <button class="btn btn-login btn-text">Ajouter à Discord</button></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <main>
        <div class="informations">


        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>                <div class="slide">
                    <div class="cards">
                        <div class="cards-logo">
                            <img src="/assets/img/logo_sans.png" alt="">
                        </div>
                        <div class="cards-title">
                            <h2><span class="zpoq">zPoq</span></h2>
                        </div>
                        <div class="cards-body">
                            <p>Un bot Discord qui permet de gérer des communautés Discord en toute simplicité</p>
                        </div>
                    </div>
                </div>


                
        </div>

    </main>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
    const cardsCol = document.querySelector('.cards-col');
    const cards = document.querySelectorAll('.cards');

    // Fonction pour vérifier si une carte est en dehors de la vue
    function checkCardVisibility(card) {
        const rect = card.getBoundingClientRect();
        return (
            rect.left >= 0 &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    // Fonction pour afficher un message lorsque la carte sort de l'écran
    function showMessage(card) {
        if (!checkCardVisibility(card)) {
            console.log("La carte est sortie de l'écran !");
        }
    }

    // Événement de défilement pour vérifier la visibilité des cartes
    window.addEventListener('scroll', () => {
        cards.forEach(card => showMessage(card));
    });

    // Cloner les cartes pour permettre le défilement circulaire
    const cardsClone = cardsCol.cloneNode(true);
    cardsCol.appendChild(cardsClone);

    // Fonction pour animer le défilement circulaire
    function animateScroll() {
        let scrollAmount = 0;
        const speed = 6; // Vitesse de défilement

        // Fonction d'animation
        function step() {
            scrollAmount += speed;
            cardsCol.style.transform = `translateX(-${scrollAmount}px)`;

            // Si le défilement dépasse la largeur du conteneur de cartes
            if (scrollAmount >= cardsCol.offsetWidth) {
                // Réinitialiser la position de défilement
                scrollAmount = 0;
                // Réorganiser les cartes pour le défilement circulaire
                cardsCol.appendChild(cardsCol.firstElementChild.cloneNode(true));
                cardsCol.removeChild(cardsCol.firstElementChild);
            }

            // Demander une nouvelle frame d'animation
            requestAnimationFrame(step);
        }

        // Lancer l'animation
        requestAnimationFrame(step);
    }

    // Lancer l'animation de défilement circulaire
    animateScroll();
});



    </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navbarDropdown = document.querySelector('.title');
        const content = document.querySelector('.content');
        const triangle = document.querySelector('.triangle');
        const chevron = document.querySelector('.bx-chevron-down');
        const navbarContent = document.querySelector('.navbar-content');
        const contentpage = document.querySelector('.content-page');


        navbarDropdown.addEventListener('click', function(event) {
            event.stopPropagation(); // Empêche la propagation du clic à l'élément document

            content.style.display = 'block';

            content.classList.toggle('content-animation');

            chevron.classList.toggle('chevron-animation');
            chevron.style.transform = 'rotate(180deg)';
        });

        // Ajouter un écouteur d'événements pour détecter les clics en dehors de .content
        document.addEventListener('click', function(event) {
            if (!content.contains(event.target) && !navbarDropdown.contains(event.target)) {
                content.style.display = 'none'
                content.classList.remove('content-animation');
                chevron.classList.remove('chevron-animation');
                chevron.style.transform = ''; // Réinitialiser la transformation
            }
        });

        // Empêcher la propagation du clic à partir des éléments à l'intérieur de .content
        content.addEventListener('click', function(event) {
            event.stopPropagation();
        });
    });



</script>
<script src="script.js"></script>
</body>
</html>